.insertProduct {
  width: 700px;
  height: 100%;
  position: relative;
  margin: 50px auto;
  padding: 5px 5px 25px 25px;
  text-align: center;
  border-radius: 10px;
}

.insertProduct label {
  width: 30%;
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  font-weight: bold;
  float: left;
}

.form-control {
  height: 25px;
  width: 50%;
  border: 0px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.form-group {
  margin-top: 25px;
}
.btn {
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-weight: bold;
}

.btn:clicked {
  transform: scale(0.9);
}
